:root {
  --base-color: aliceblue;
  --base-variant: #e8e9ed;
  --text-color: #031d44;
  --secondary-text: #e8e9ed;
  --primary-color: #001233;
  --accent-color: #6c757d;
  --property-color: #d62828;
  --border-color: #e5e5e5;
}
.darkmode {
  --base-color: #001845;
  --base-variant: #e8e9ed;
  --text-color: aliceblue;
  --secondary-text: #ffff;
  --primary-color: #001233;
  --accent-color: #6c757d;
  --property-color: #d62828;
  --border-color: #031d44;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--base-color);
  color: var(--text-color);
  height: 100vh;
}
.container {
  float: left;
  padding: 10px;
  /* height: 100vh; */
}


/*section left*/
.left {
  width: 12%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.item-nav-left h3 { padding: 20px ;}
.container-body-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 430px;
}
.item-body-left h2{ padding-right: 10px;}
#theme-switch {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-variant);
  padding: 0px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
#theme-switch svg {fill: #001845;}
#theme-switch svg:last-child {display: none;}
.darkmode #theme-switch {background-color: var(--base-variant);}
.darkmode #theme-switch svg:first-child {display: none;}
.darkmode #theme-switch svg:last-child {display: block;}
.item-foot-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  margin-bottom: 10px;
}
.deleteAllTaskBtn {
  color: var(--property-color);
  background-color: var(--primary-color);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.form-logout {
  color: var(--base-variant);
  background-color: var(--property-color);
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}



/*section mid*/
.mid {
  width: 70%;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.nav-mid-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.search-nav {
  padding: 10px;
  color: var(--primary-color);
  border-radius: 20px;
  width: 40%;
}
.search-input {
  display: flex;
  /* width: 100%; */
  background-color: var(--base-variant);
  padding: 10px;
  border-radius: 20px;
}
.search-input input {
  background-color: var(--base-variant);
  outline: none;
  border: none;
  margin-left: 10px;
  /* width: 100%; */
}
.search-input input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.darkmode .search-input {
  background-color: var(--secondary-text);
}
.darkmode .search-input input {
  background-color: var(--secondary-text);
}
.search-nav svg {fill: var(--accent-color); }
.search-nav p {color: var(--accent-color);}
.date-nav {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-left: 40px;
  text-align: center;
}
.add-nav-mid {
  margin-left: 300px;
}
.add-nav-mid button {
  background-color: var(--primary-color);
  color: var(--secondary-text);
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
}
.navigation-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 900px;
  padding: 15px;
}
.navigation-icon i {
  font-size: 30px;
  cursor: pointer;
}
.container-body-mid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  height: 100%;
}
.item-body-mid {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  color: var(--secondary-text);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.darkmode .item-body-mid {
  background-color: var(--primary-color);
  color: var(--base-variant);
}
.box-task { flex-grow: 1;}
.box-task h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.box-task p {
  font-size: 15px;
  color: var(--base-variant);
}
.date-body {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}
.status-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.status-completed  {
  padding: 5px 25px 5px 25px;
  border-radius: 15px;
  background-color: #06d6a0;
  color: var(--primary-color);
  border: none;
  font-size: 15px;
}
.status-uncompleted  {
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  background-color: #ffd166;
  color: var(--primary-color);
  border: none;
  font-size: 15px;
}
.importantTaskBtn {
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border: none;
  margin: 0 5px;
  cursor: pointer;
}
.deleteTaskBtn {
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border: none;
  margin: 0 5px;
  cursor: pointer;
}
.editTaskBtn {
  background-color: var(--primary-color);
  color: var(--secondary-text);
  border: none;
  margin: 0 5px;
  cursor: pointer;
}
.status-action i { font-size: 16px;}



/* section right */
.right { width: 18%;}
.item-nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.add-nav-right {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.add-nav-right button {
  padding: 10px 50px 10px 50px ;
  border-radius: 20px;
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-text);
  cursor: pointer;
}
.item-body-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}
.item-body-right ul {list-style: none;}
.item-body-right ul li {margin-top: 10px;}
.item-body-right ul li button {
  background-color: var(--base-color);
  border: none;
  cursor: pointer;
  color: var(--text-color);
}
.item-body-right ul li button.active {
  color: var(--property-color);
}



/* Popup addTask */
.bg-addTask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /*z-index: 1; /* Pastikan overlay berada di belakang popup */
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none; /*Agar tidak menghalangi klik jika popup belum aktif */
}
.bg-addTask.active {
  opacity: 1;
  pointer-events: auto; /* Aktifkan klik jika popup muncul */
}
.container-addTask {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: var(--base-variant);
  border-radius: 20px;
  padding: 20px;
  color: var(--text-color);
  width: 35%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /*z-index: 2; /* Popup di atas bg-addTask */
  transition: top 10ms ease-in-out 5ms,
}
.container-addTask.active {
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  transition:top 5ms ease-in-out 10ms,
}
.darkmode .container-addTask {
  color: var(--primary-color);
  background-color: var(--secondary-text);
}
.element-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element-title h3 {margin: 0;}
.close-btn-add {cursor: pointer;}
.close-btn-add i {font-size: 20px;}
.item-addTask {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item-addTask .element-addTask {
  display: flex;
  flex-direction: column;
}
.item-addTask .element-addTask label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-primary);
  margin-top: 10px;
}
.item-addTask .element-addTask input {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px;
}
.item-addTask .element-addTask textarea {
  resize: vertical;
  min-height: 60px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 0px 0px 5px;
}
.element-addTask-check {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.element-addTask-check input[type='checkbox'] {
  accent-color: var(--primary-color);
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-task-btn button {
  border-radius: 5px;
  padding: 10px 150px 10px 150px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-text);
}



/* popup editTask */
.bg-editTask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  /*z-index: 1; /* Pastikan overlay berada di belakang popup */
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  pointer-events: none; /*Agar tidak menghalangi klik jika popup belum aktif */
}
.bg-editTask.active {
  opacity: 1;
  pointer-events: auto; /* Aktifkan klik jika popup muncul */
}
.container-editTask {
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: var(--base-variant);
  border-radius: 20px;
  padding: 20px;
  color: var(--text-color);
  width: 35%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /*z-index: 2; /* Popup di atas bg-editTask */
  transition: top 10ms ease-in-out 5ms;
}
.container-editTask.active {
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  transition:top 5ms ease-in-out 10ms;
}
.darkmode .container-editTask {
  color: var(--primary-color);
  background-color: var(--secondary-text);
}
.element-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.element-title h3 {
  margin: 0;
}
.close-btn-edit {
  cursor: pointer;
}
.close-btn-edit i {
  font-size: 20px;
}
.item-editTask {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.item-editTask .element-editTask {
  display: flex;
  flex-direction: column;
}
.item-editTask .element-editTask label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--text-primary);
  margin-top: 10px;
}
.item-editTask .element-editTask input {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px;
}
.item-editTask .element-editTask textarea {
  resize: vertical;
  min-height: 60px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 0px 0px 5px;
}
.element-editTask-check {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.element-editTask-check input[type='checkbox'] {
  accent-color: var(--primary-color);
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.edit-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-task-btn button {
  border-radius: 5px;
  padding: 10px 150px 10px 150px;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-text);
}